@font-face{
	font-family: QS;
    src: url(../font/quicksand.ttf);
}

*{
    font-family: QS;
}

body{
    background: #7FECFF;
    background: linear-gradient(0deg, #072a2b 0%, #7FECFF 100%) no-repeat center center fixed;
}

div.logo{
    width: 600px;
    margin: 80px auto;
}

div.add{
    width: 180px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    border: 1px #fff solid;
    border-radius: 4px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #072a2b;
    transition: .4s all;
}

div.add:hover{
    background: #7FECFF;
    border: 1px #1b6468 solid;
}